################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/My First Bank/bin/Debug
